dbtlearn/package-lock.yml
dbtlearn/target/
dbtlearn/dbt_packages/
dbtlearn/dbt_internal_packages/

archive
dbt_dagster_project/tmp*
dbtlearn/profiles.yml

logs/
venv/

**/__pycache__/
*.pyc
tmp*/

.claude
.user.yml
.DS_Store
