dbtlearn/package-lock.yml
dbtlearn/target/
dbtlearn/dbt_packages/

archive
dbt_dagster_project/tmp*

logs/
venv/

**/__pycache__/
*.pyc
tmp*/

dbt_internal_packages/
dbtlearn/profiles.yml
dbtlearn/.user.yml