agate==1.7.1
alembic==1.12.1
aniso8601==9.0.1
anyio==4.0.0
asn1crypto==1.5.1
attrs==23.1.0
Babel==2.13.1
backoff==2.2.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==14.0
croniter==2.0.1
cryptography==41.0.5
dagster==1.5.9
dagster-dbt==0.21.9
dagster-graphql==1.5.9
dagster-pipes==1.5.9
dagster-webserver==1.5.9
dbt-core==1.7.2
dbt-extractor==0.5.0
dbt-semantic-interfaces==0.4.1
dbt-snowflake==1.7.0
docstring-parser==0.15
filelock==3.13.1
fsspec==2023.10.0
gql==3.4.1
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
grpcio==1.59.3
grpcio-health-checking==1.59.3
h11==0.14.0
httptools==0.6.1
humanfriendly==10.0
idna==3.4
importlib-metadata==6.8.0
isodate==0.6.1
jaraco.classes==3.3.0
Jinja2==3.1.2
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
keyring==24.3.0
leather==0.3.4
Logbook==1.5.3
Mako==1.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mashumaro==3.10
mdurl==0.1.2
minimal-snowplow-tracker==0.0.2
more-itertools==10.1.0
msgpack==1.0.7
multidict==6.0.4
networkx==3.2.1
orjson==3.9.10
packaging==23.2
parsedatetime==2.6
pathspec==0.11.2
pendulum==2.1.2
platformdirs==3.11.0
protobuf==4.25.1
pycparser==2.21
pydantic==1.10.13
Pygments==2.17.1
PyJWT==2.8.0
pyOpenSSL==23.3.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-slugify==8.0.1
pytimeparse==1.1.8
pytz==2023.3.post1
pytzdata==2020.1
PyYAML==6.0.1
referencing==0.31.0
requests==2.31.0
requests-toolbelt==0.10.1
rich==13.7.0
rpds-py==0.13.1
six==1.16.0
sniffio==1.3.0
snowflake-connector-python==3.5.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.23
sqlparse==0.4.4
starlette==0.32.0.post1
tabulate==0.9.0
text-unidecode==1.3
tomli==2.0.1
tomlkit==0.12.3
toposort==1.10
tqdm==4.66.1
typer==0.9.0
typing_extensions==4.8.0
universal-pathlib==0.1.4
urllib3==1.26.18
uvicorn==0.24.0.post1
uvloop==0.19.0
watchdog==3.0.0
watchfiles==0.21.0
websockets==12.0
yarl==1.9.2
zipp==3.17.0
