# dbt Core + the Snowflake adapter (dbt Core will be installed as a dependency of dbt-snowflake)
dbt-snowflake~=1.10.0

# dbt-autofix for auto-formatting dbt models
dbt-autofix~=0.13.1

# Dagster and the Dagster dbt integration
dagster-dbt~=0.27.0
dagster-webserver~=1.11.0
